.wrapper {
    position: fixed;
    top: 105px;
    left: 20px;
    right: 0;
    bottom: 0;
    max-height: 400px;
    max-width: 640px;
    border-radius: 8px;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    z-index: 10;
    background: white;
}

.modal_content {
    display: flex;
    /* justify-content: center; */
    background: #F1F0EE;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    /* max-width: 90%; */
    /* max-height: 90%; */
    overflow: auto;
}

.modal_left, .modal_right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal_links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}















