.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 16px;
    padding: 0 20px;
}
.swiper_img {
  max-width: 692px;
}
SwiperSlide {
  position: relative;
}
.slide_title_left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 27px;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.slide_title_right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 27px 25px;
  text-align: right;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}





/* .swiper_container {
  position: relative;
} */
/* .progress_bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 4px;
  background: rgba(255, 255, 255, 0.37);
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}
.progress_fill {
  width: 0%;
  height: 100%;
  background: white;
  animation: fill 10s linear forwards;
  z-index: 2;
} */
/* @keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
} */



@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .swiper_img {
    width: 100%;
    height: auto;
    max-width: none;
  }
}



























