.wrapper {
    width: 1280px;
    margin: 0 auto;
}
.top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    border-bottom: 1px solid #1010102b;
    padding: 64px 0;
}
.top_section_title {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
}
.top_section_btn {
    padding: 10.5px 11.5px;
    background: #9B1E1C;
    border: none;
    border-radius: 8px;
}
.top_section_btn_link {
    text-decoration: none;
    color: #fff;
}

.bottom_section {
    display: flex;
    flex-direction: column;
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
.footer_section {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.footer_section h3 {
    font-size: 17px;
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #888;
}
.link:hover {
    text-decoration: underline;
}



.footer_bottom {
    padding: 64px 0 32px;
}
.logo_img {
    width: 35px;
}
.logo_text {
    width: 120px;
}





