* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #F1F0EE;
    font-family: "Inter", sans-serif;
}
.swiper {
  border-radius: 14px;
}
@media (max-width: 768px) {
  .swiper {
    height: 300px;
    width: 100%; 
    border-radius: 12px;
  }
  
}







