.wrapper {
    max-width: 1340px;
    margin: 0 auto;
    padding: 64px;
    background: #fff;
    border-radius: 16px;
    margin-bottom: 32px;
}
.appeal_title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}
.appeal_title p {
    font-size: 16px;
    font-weight: 500;
    color: #888;
}
.appeal_title h3 {
    font-size: 38px;
    font-weight: 600;
}
.appeal_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.appeal_card {
    padding: 64px;
    border-radius: 16px;
    text-align: center;
    background: #F1F0EE;
    margin-bottom: 20px;
}
.appeal_card p {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.48px;
}
.bottom_p {
    text-align: center;
}



@media (max-width: 768px) {
    .wrapper {
        padding: 40px;
        margin: 32px 25px;
    }
    .appeal_cards {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .appeal_title {
        margin-bottom: 12px;
    }
    .appeal_card {
        margin: 0;
    }
    .appeal_card p {
        line-height: 24px;
    }
    .bottom_p {
        font-size: 16px;
        font-weight: 600;
        padding: 20px 10px;
    }
}







